* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  background: #111;
  color: #eee;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  padding: 15px 30px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  color: #eee;
  text-decoration: none;
}

.nav a:hover {
  color: #2196F3;
}


.hero {
  text-align: center;
  padding: 80px 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #2196F3;
  color: white;
  text-decoration: none;
}


.timeline {
  max-width: 700px;
  margin: 50px auto;
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 4px;
  height: 100%;
  background: #2196F3;
  transform: translateX(-50%);
}

.timeline-item {
  width: 50%;
  padding: 20px 40px;
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
}

.left { left: 0; }
.right { left: 50%; }

.dot {
  position: absolute;
  top: 30px;
  width: 18px;
  height: 18px;
  background: #111;
  border: 4px solid #2196F3;
  border-radius: 50%;
}

.left .dot { right: -9px; }
.right .dot { left: -9px; }

.content {
  background: #222;
  padding: 20px;
  border-radius: 6px;
}


.game-page {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.game-page img {
  width: 100%;
  border-radius: 6px;
  margin: 20px 0;
}


footer {
  text-align: center;
  padding: 15px;
  background: #000;
  margin-top: 40px;
}


@media (max-width: 600px) {
  .timeline::before {
    left: 30px;
  }

  .timeline-item {
    width: 100%;
    left: 0;
    padding-left: 70px;
  }

  .dot {
    left: 21px;
  }

  .nav {
    flex-direction: column;
  }
}
h1 {
    font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2 {
    font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

p {
 
    font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}
